/* This css is used for now.php, later.php and done.php
	since the codes are pretty much the same. */

/* no boarders page */
* {
	margin:0;
	padding:0;
}
html {
	overflow-y:scroll;
	margin: 0;
	padding: 0;
	min-height: 100%;
}

/* styling fonts and put all the text in the center,
  changing background colors using webkit animation provided in CSS3 */
body {
	text-align: center;
	font-family: 'Average Sans', sans-serif;
	padding: 0;
	background-color: #45CEEF;
  -webkit-animation: pulse 40s infinite alternate;
}

/* Pulsing background */
@-webkit-keyframes pulse {
  0% {background-color: #45CEEF;} 
  5% {background-color: #FFF5A5;} 
  50% {background-color: #FFD4DA;} 
  75% {background-color: #99D2E4;} 
  100% {background-color: #D8CAB4;}
}

/* resize the logo */
img {
  width: 15%;
  height: 15%;
}

/* placing the logo at the top left of the page */
.logo {
	margin-left: 10px;
	margin-top: 40px;
	text-align: left;
}

/* content in main container in the center of the page,
	the page is set to 900px wide */ 
#main {
	margin: 0 auto;
	width: 900px;
}

/* styling page description */
#pageDescription {
	margin: 0 auto 30px 0;
	text-align: center;
}
#main h1 {
  margin-bottom: 20px;
  font-size: 40px;
}
.about_list {
  text-align: center;
  padding: 0 auto;
  margin-left: 200px;
  margin-right: 200px;
}


/* styling "Your lists" */
#main h4 {
	font-size: 20px;
}

/* styling "Add more items" content */
#add {
	float: right;
}
#main h5 {
	font-size: 20px;
}

/* styling icons in the lists accordian */
.icon {
	margin-left: 5px;
}

/*---------------------------------------------------*/
/*ADD ITEMS CONTROL*/

/* styling input textfield */
.additems {
	float: right;
	font-family: 'Average Sans', sans-serif;
	margin-bottom: 100px;
}
.additems form {
	position:relative;
	font-family: 'Average Sans', sans-serif;
	text-align: left;
	font-size: 14px;
	line-height: 13px;
	font-weight: bold;
	text-decoration: none;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 5px;
	padding: 10px;
	border: 1px solid #999;
	-webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
	box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
}
.additems input,select {
	display: block;
	background: linear-gradient(to bottom, #f7f7f8 0%,#ffffff 100%);
  border-radius: 3px;
  border: none;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2) inset, 0 -1px 0 rgba(0,0,0,0.05) inset;
  transition: all 0.2s linear;
  font-family: 'Average Sans', sans-serif;
  font-size: 13px;
  color: #222222;
  position: relative;
  height: 25px;
  width: 300px;
  padding-left: 5px;
  
  &::-webkit-input-placeholder {
     color: #999999;
  }
  
  &:-moz-placeholder {
     color: #999999;
  }
      
  &:focus{
      box-shadow: 0 1px 0 #2392F3 inset, 0 -1px 0 #2392F3 inset, 1px 0 0 #2392F3 inset, -1px 0 0 #2392F3 inset, 0 0 4px rgba(35,146,243,0.5);
      outline: none;
      background: #FFF;
  }
}
.additems textarea {
	width: 300px;
	height: 75px;
	display: block;
	background: linear-gradient(to bottom, #f7f7f8 0%,#ffffff 100%);
  border-radius: 3px;
  border: none;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2) inset, 0 -1px 0 rgba(0,0,0,0.05) inset;
  transition: all 0.2s linear;
  font-family: 'Average Sans', sans-serif;
  font-size: 13px;
  color: #222222;
  position: relative;
  padding-left: 5px;
  
  &::-webkit-input-placeholder {
     color: #999999;
  }
  
  &:-moz-placeholder {
     color: #999999;
  }
      
  &:focus{
      box-shadow: 0 1px 0 #2392F3 inset, 0 -1px 0 #2392F3 inset, 1px 0 0 #2392F3 inset, -1px 0 0 #2392F3 inset, 0 0 4px rgba(35,146,243,0.5);
      outline: none;
      background: #FFF;
  }
}

/* styling buttons */
.additems input[type=submit] {
  display: inline-block;
  outline: none;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  font: 14px/100% 'Average Sans', sans-serif;
  padding: .25em 1em .4em;
  text-shadow: 0 1px 1px rgba(0,0,0,.3);
  -webkit-border-radius: .5em; 
  -moz-border-radius: .5em;
  border-radius: .5em;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
  box-shadow: 0 1px 2px rgba(0,0,0,.2);

  color: #fef4e9;
  border: solid 1px #da7c0c;
  background: #f78d1d;
  background: -webkit-gradient(linear, left top, left bottom, from(#faa51a), to(#f47a20));
  background: -moz-linear-gradient(top,  #faa51a,  #f47a20);
  filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#faa51a', endColorstr='#f47a20');
}
.additems input[type=submit]:hover {
  text-decoration: none;
  background: #f47c20;
  background: -webkit-gradient(linear, left top, left bottom, from(#f88e11), to(#f06015));
  background: -moz-linear-gradient(top,  #f88e11,  #f06015);
  filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f88e11', endColorstr='#f06015');
}
.additems input[type=submit]:active {
  position: relative;
  top: 1px;
  color: #fcd3a5;
  background: -webkit-gradient(linear, left top, left bottom, from(#f47a20), to(#faa51a));
  background: -moz-linear-gradient(top,  #f47a20,  #faa51a);
  filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f47a20', endColorstr='#faa51a');
}

/*---------------------------------------------------*/
/*FOOTER STYLING*/
#footer {
  position: fixed;
     bottom: 0;
     width: 100%;
     height: 32px;
     background:#2D2D2D;

     line-height:1.28;
  margin:0;
  padding:0;
  text-align:left;
  direction:ltr;
  unicode-bidi:embed;
}
#footer a {
	text-decoration:none;
	padding:6px 8px 7px;
	color:white;
	outline:none;
	display:block;
}
#footer a:link {
	color: white;
	text-decoration:none;
}
#footer a:hover {
  background-color:#676767;
  color:white;
}
#footer li {
  list-style: none;
  float:left;
  padding:0px;
}

/*---------------------------------------------------*/
/*PERSONAL ACCORDION STYLING*/
#lists {
	float: left;
}
#accordion {
	width: 400px;
	float: left;
	padding-top: 20px;
	margin-bottom: 100px;
	font-family: 'Average Sans', sans-serif;
	text-align: left;
	font-size: 18px;
}
#accordion .ui-accordion-content { 
	font-size: 10pt;
}
#accordion .ui-accordion-header {
	cursor: pointer; 
  margin: 0px;  
}  
#accordion .ui-state-focus { 
	outline: none; 
}
.nodisplay {
	display: none;
}
.buttons {
	float: right;
}
.mediaTitle {
	font-size: 16px;
	font-weight: bold;
	color: #03375d;
}
.mediaDescription {
	margin-top: 3px;
	margin-bottom: 10px;
}
#deleteItem {
	margin-left: 20px;
}

/*---------------------------------------------------*/
/*NAV BAR STYLING*/
#navigation {
	line-height:1.28;
	margin:0;
	padding:0;
	text-align:left;
	direction:ltr;
	unicode-bidi:embed;
}
#navigation a {	/*Styling of most links*/
	text-decoration:none;
	padding:6px 8px 7px;
	color:white;
	outline:none;
	display:block;
}
.current a {	/*Styling for the link of the current page*/
	background:#2D2D2D;
	border-top:2px solid #DD4B39;/*red ribbon at top*/
	border-bottom:0;
	display:block;

	padding:0 8px 0 8px;
	position:relative;
	z-index:1;
	font-weight:bold;
}
#mainbar {
	font-size: 14px;
	font-family: 'Average Sans', sans-serif;
	float: left;
	top:0;
	z-index: 999;
	padding:0px 10px;
	position:fixed;
	width:100%;
	background:#2D2D2D;
	height:32px;
}
#mainbar .dropdown {
	float: right;
	padding: 0 100px;
}
#navigation li {
	list-style: none;
	float:left;
	padding:0px;
}
#navigation a:hover {
	background-color:#676767;
	color:white;
}

.staticMenu dd { position:relative; }
/* DT styles for sliding doors */
.staticMenu dt a {
	padding:5px 4px 5px 4px;
	margin-bottom:1px;
	display:block;
	line-height:15px;
	text-decoration:none;
}
.staticMenu dt a.selected{
	position:relative;
	height: 19px;
}

/* UL styles */
#accordionList {
	list-style-type: none;
}
.staticMenu dd ul {
	display:none;
	list-style:none;
	position:absolute;
	cursor:pointer;
}
.mainMenuSub{
	position:absolute;
	margin-top:-2px;
	margin-left:-1px;
	padding:2px;
	border:1px solid black;
	background: #2D2D2D;
}
ul.mainMenuSub li{
	border:0;
	width:123px;
}
ul.mainMenuSub li a:link{
	display:block;
	/*font-weight:bold;*/
	text-align:left;
	overflow:hidden;
	padding:2px 4px 3px 19px;
	text-decoration:none;
}
.mid-line{
	border-top:1px solid #e5e5e5;
}
/*---------------------------------------------------*/
